@media (min-width: 375px) {
  .App {
    width: 375px;
    margin: auto;
  }

  .hero1 {
    display: block;
  }

  .hero2 {
    display: none;
    visibility: hidden;
  }
}

@media (min-width: 768px) {
  .App {
    width: 768px;
    margin: auto;
  }

  .hero1 {
    display: block;
  }

  .hero2 {
    display: none;
    visibility: hidden;
  }
}

@media (min-width: 1440px) {
  .App {
    width: 1440px;
    margin: auto;
  }

  .hero1 {
    display: none;
    visibility: hidden;
  }

  .hero2 {
    display: block;
    visibility: visible;
  }
}
