@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@300;400;500;600;700;800;900&display=swap");

:root {
  --boston-blue: #4d96a9;
  --deluge: #855fb1;
  --valhalla: #28283d;
  --manatee: #87879d;
  --columbia-blue: #90e4f9;
  --mauve: #d9b8ff;
  --snow: #fafafa;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Red Hat Display", sans-serif;
  background-color: #fafafa;
}

img {
  max-width: 100%;
}

/* Header Component */

.header {
  text-align: center;
  padding: 50px 0;
}

/* Hero Component */

.hero {
  text-align: center;
}

.hero_text h1 {
  font-size: 4rem;
  line-height: 4.4rem;
  margin: 25px 0;
  padding: 0 50px;
  color: #28283d;
}

.hero_text p {
  font-size: 1.6rem;
  line-height: 2.6rem;
  margin-bottom: 25px;
  padding: 0 25px;
  color: #87879d;
}

.hero_buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.hero_buttons .one {
  width: 193px;
  height: 58px;
  border: none;
  border-radius: 35px;
  background-color: #4d96a9;
  color: #fafafa;
  font-weight: 900;
  font-size: 1.6rem;
  line-height: 2.6rem;
  margin-bottom: 20px;
}

.hero_buttons .one span {
  color: #90e4f9;
}

.hero_buttons .two {
  width: 139px;
  height: 58px;
  border: none;
  border-radius: 35px;
  background-color: #855fb1;
  color: #fafafa;
  font-weight: 900;
  font-size: 1.6rem;
  line-height: 2.6rem;
}

.hero_divider {
  margin: 50px 0;
}

/* Collage Component */

.collage {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 25px;
  padding: 25px;
  margin-bottom: 50px;
}

.collage img {
  border-radius: 10px;
}

/* Smarter Component */

.smarter {
  text-align: center;
  margin-bottom: 160px;
}

.smarter h3 {
  font-size: 1.6rem;
  line-height: 2.6rem;
  color: rgb(77, 150, 169);
  text-transform: uppercase;
  font-weight: 900;
  letter-spacing: 4px;
  margin-bottom: 25px;
}

.smarter h1 {
  font-size: 3.2rem;
  line-height: 3.6rem;
  color: #28283d;
  font-weight: 900;
  margin-bottom: 25px;
  padding: 0 25px;
}

.smarter p {
  font-size: 1.6rem;
  line-height: 2.6rem;
  color: #87879d;
  font-weight: 500;
  margin-bottom: 50px;
  padding: 0 25px;
}

.smarter img {
  position: absolute;
}

/* Footer Component */

.footer {
  background-image: url(./assets/mobile/image-footer.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.footer_content {
  padding: 100px 0;
  text-align: center;
  width: 100%;
  height: 100%;
  background-color: rgba(77, 150, 169, 0.9);
}

.footer_content h1 {
  font-size: 3.2rem;
  line-height: 3.6rem;
  color: #ffffff;
  font-weight: 900;
  margin-bottom: 25px;
  padding: 0 25px;
}

.footer_content p {
  font-size: 1.6rem;
  line-height: 2.6rem;
  color: #ffffff;
  font-weight: 500;
  margin-bottom: 50px;
  padding: 0 25px;
}

.footer_content button {
  width: 193px;
  height: 58px;
  border: none;
  border-radius: 35px;
  background-color: #855fb1;
  color: #fafafa;
  font-weight: 900;
  font-size: 1.6rem;
  line-height: 2.6rem;
  margin-bottom: 20px;
}

.footer_content button span {
  color: #d9b8ff;
}
