@import url("https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@300;400;500;600;700;800;900&display=swap");

:root {
  --boston-blue: #4d96a9;
  --deluge: #855fb1;
  --valhalla: #28283d;
  --manatee: #87879d;
  --columbia-blue: #90e4f9;
  --mauve: #d9b8ff;
  --snow: #fafafa;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Red Hat Display", sans-serif;
}

img {
  max-width: 100%;
}
